
@{
    ViewBag.Title = "Index";
}

<h2>Albums</h2>
@Html.ActionLink("Create New Album", "Create", "Album")
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-2"><strong>Name</strong></div>
        <div class="col-md-2"><strong>Topic</strong></div>
        <div class="col-md-2"><strong>Pictures</strong></div>
    </div>
    @for (var x = 0; x < Model.Count; x++)
    {
        <div class="row">
            <a href="@Url.Action("Details","Album",new { Id = Model[x].Id }, null)">
                <div class="col-md-2"> @Model[x].Name</div>
                <div class="col-md-2">@Model[x].Topic</div>
                <div class="col-md-2">(@Model[x].Pictures.Count)</div>
            </a>
        </div>
    }
</div>


