@model MVC_PictureGallery_Lab.Models.AlbumViewModel

@{
    var options = new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = Model.Id.ToString(),
    };
}



        <div class="col-xs-3">@Html.DisplayFor(modelItem => modelItem.Name)</div>
        <div class="col-xs-2">@Html.DisplayFor(modelItem => modelItem.Topic)</div>
        <div class="col-xs-2">32</div>
        <div class="col-xs-3">
            @Ajax.ActionLink("Edit", "Edit", new { id = Model.Id }, options) |
            @Html.ActionLink("Details", "Details", "Album", new { id = Model.Id }, null) |
            @Ajax.ActionLink("Delete", "Delete", new { id = Model.Id }, options)
        </div>
