@model MVC_PictureGallery_Lab.Models.AlbumViewModel

@using (Html.BeginForm("AddPictures", "Album", FormMethod.Post, new { id = "PictureForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>AlbumViewModel</h4>
        <hr />
    
        @Html.HiddenFor(model => model.Id)

        @*<div class="col-md-10">
            <input type="file" name="file" id="file" onchange="validatePhoto()" />
            @Html.ValidationMessage("error")
            <div id="errorDiv"></div>
        </div>*@

        <div class="preview img-wrapper"></div>
        <div class="file-upload-wrapper">
            <input type="file" name="file" class="file-upload-native" accept="image/*" />
            <input type="text" disabled placeholder="upload image" class="file-upload-text" />
            @Html.ValidationMessage("error")
        </div>
        @Html.Label("Public?")
        @Html.CheckBox("Public")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script src="~/JavaScripts/CreatePicture.js"></script>

