@model MVC_PictureGallery_Lab.Models.AlbumViewModel
<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    @*@Html.ActionLink("Add Picture", "AddPictures","Album", new { id = Model.Id })*@
    <a href="@Url.Action("AddPictures","Album",new { Id = Model.Id }, null)">Add Picture</a> |
    <a href="@Url.Action("Delete","Album",new { Id = Model.Id }, null)">Delete Album</a> | 
    @Html.ActionLink("Back", "Index")
   <hr />
        @for (var x = 0; x < Model.Pictures.Count; x++)
        {
           
            <span>
                <a href="@Url.Action("Details","Picture",new { Id = Model.Pictures[x].Id }, null)">
                    <span class="img--back">
                        <img src="@Url.Content($"{Model.Pictures[x].Url}")" />
                        @{
                            if (Model.Pictures[x].Public == true)
                            {
                                <span style="color:green">Public</span>
                            }
                            else
                            { <span style="color:red">Private</span> }
                            <span>(@Model.Pictures[x].Comments.Count)</span>
                        }
                       
                    </span>
                </a>        
            </span>

        }

</div>
