@model IEnumerable<MVC_PictureGallery_Lab.Models.AlbumViewModel>


@foreach (var item in Model)
{
    var options = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = item.Id.ToString(),
    };
    <div id="@item.Id" class="row">
        <div class="col-xs-3">@Html.DisplayFor(modelItem => item.Name)</div>
        <div class="col-xs-2">@Html.DisplayFor(modelItem => item.Topic)</div>
        <div class="col-xs-2">32</div>
        <div class="col-xs-3">
            @Ajax.ActionLink("Edit", "Edit", new { id = item.Id }, options) |
            @Html.ActionLink("Details", "Details", "Album", new { id = item.Id }, null) |
            @Ajax.ActionLink("Delete", "Delete", new { id = item.Id }, options)
        </div>
    </div>
}

