@model MVC_PictureGallery_Lab.Models.PictureViewModel

<div class="container">
    <div class="row">
        <div class="col-xs-1 text-right"><span class="label label-success">Name</span></div>
        <div class="col-xs-10">@Model.Name</div>
    </div>
    <div class="row">
        <div class="col-xs-1 text-right"><span class="label label-success">Size</span></div>
        <div class="col-xs-10">@Model.Size byte</div>
    </div>
    <div class="row">
        <div class="col-xs-1 text-right"><span class="label label-success">Id</span></div>
        <div class="col-xs-10">@Model.Id</div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-xs-12 ">
            <img src="@Model.Url" />
        </div>
        <div>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.Identity.Name == ViewBag.Name)
                {

                    @Html.ActionLink("Delete Picture", "Delete", new { id = Model.Id });
                    <span> | </span>
                    <button type="button" class="btn btn-default" id="ShowEditPictureForm">Edit Picture</button>
                    <div id="PictureEditFrom">
                        @{
                            Html.RenderAction("Edit",new {id = Model.Id });
                        }
                    </div>
                }
            }
        </div>
        <div class="form-group imgDiv">
            <div class="col-md-offset-1 col-md-10">
                <div>
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            Html.RenderAction("Create", "Comment");
                        }
                        else
                        {                         
                            <span>@Html.ActionLink("Login to Comment!", "Login", "Authentication", routeValues: null, htmlAttributes: new { id = "loginLink" })</span>
                            Html.RenderAction("List", "Comment");
                        }

                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/JavaScripts/EditPicture.js"></script>